/* //tablet */

 /* PC */
 @media screen and (min-width: 700px )  {
     
  .po{
     
    display: grid;
    grid-template-columns: repeat(4, 1fr); ;
  }

}

@media screen and (min-width: 500px) and (max-width:700px) {
    
    .po{
      
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }
  }


 

  
.post{
   
    margin-right: 3ch;
    margin: 1ch;
    border: rgb(252, 107, 107) solid;
    text-align: center;
    background-color: rgb(247, 187, 170);
    padding-bottom: 1ch;
   
}

.po{
     
    text-align: center;
}
h4 {
    text-align: center;
    margin-right: 3ch;
    font-family: cursive;
    color: rgb(163, 7, 7);
    text-decoration: underline;
}
.commit{
    border: solid;
    margin: 1ch;
}
.Rbtn{
    background-color: rgba(194, 7, 7, 0.89);
    margin: 1ch;
    font-family: cursive;
    color: rgb(178, 226, 178);
    cursor: pointer;
    border: none;
    padding: 1ch;
    margin-left: 1ch;
    margin-right: 5ch;
}
.Abtn{
    background-color: rgb(92, 238, 92);
    margin: 1ch;
    font-family: cursive;
    color: maroon;
    text-align: center;
}
.Aimg{
    text-align: center;
 
    width: 200;
    height: 200;
    margin-left: 2ch;
    margin-right: 3ch;
   
}
.Ebtn{
    background-color: rgb(160, 204, 0);
    margin: 1ch;
    font-family: cursive;
    color: maroon;
    cursor: pointer;
    border: none;
    padding: 1ch;
    text-align: center;
    margin-left: 1ch;
    margin-right: 5ch;
}
.fo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(12, 116, 134);
    text-decoration: underline;
    margin-right: 4ch;
     
}