.post{
  text-align: center;
    margin: 1ch;
    border: rgb(252, 107, 107) solid;
    text-align: center;
    background-color: rgb(247, 187, 170);
    padding-bottom: 1ch;
   
}

.po{
    text-align: center;
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr ;

    /* border: solid; */
    /* margin: 3ch; */

}
h4 {
    text-align: center;
    font-family: cursive;
    color: rgb(163, 7, 7);
    text-decoration: underline;
}
.commit{
    border: solid;
    margin: 1ch;
}
.Rbtn{
    background-color: rgba(194, 7, 7, 0.89);
    margin: 1ch;
    font-family: cursive;
    color: rgb(178, 226, 178);
    cursor: pointer;
    border: none;
    padding: 1ch;
    margin-left: 3ch;
    margin-right: 5ch;
}
.Abtn{
    background-color: rgb(92, 238, 92);
    margin: 1ch;
    font-family: cursive;
    color: maroon;
}
.Aimg{
    text-align: center;
    border: teal solid;
    width: 150;
    height: 150;
    margin-left: 5ch;
    margin-right: 2ch;
   /* display: flex;
  justify-content: center; */
}
.Ebtn{
    background-color: rgb(160, 204, 0);
    margin: 1ch;
    font-family: cursive;
    color: maroon;
    cursor: pointer;
    border: none;
    padding: 1ch;
    text-align: center;
    margin-left: 3ch;
    margin-right: 5ch;
}
.fo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(12, 116, 134);
    text-decoration: underline;
     
}