.App {
  text-align: center;
}
nav {
  margin: 27px auto 0;
  position: relative;
  width: 450px;
  height: 60px;
  background-color: #34495e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;

  border-radius: 20px;
}
.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
select{
  background-color: transparent;
  border-style: none;
  
}
.mycon {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
  border-radius: 10px;
  border-style:solid;
  border-color: #c3c3c3;
  border-width: 0.2ch;
  height: 450px;overflow: scroll;
  

}
.mylink {
  font-size: 16px;
  margin-left:5px;
  text-decoration: none;
  color: white;
}
nav li {
  height: 80%;
  
  font-size: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
.selected {
  background-color: tomato;
}


li:nth-child(1) {

  width: 120px;
}
li:nth-child(2) {
  width: 120px;
}


body {
  font-size: 12px;
  font-family: sans-serif;
  background: #c8e3ff;
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Cherry Swash", cursive;
}



span {
  color: #2bd6b4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-li {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
