@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

.center {
    text-align: center;
}

html, body {
    background-color: #fafafa;
}

.card img {
    max-height: 600px;
    width: 100%;
}

.posts {
    max-width: 50rem
}