.App {
  text-align: center;
}
.Link{
  color:white;
  text-decoration: none;
}
#Nav{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}
#navbar{
position: -webkit-sticky;
position: sticky;
top: 0px;
}
#about>h3{
  padding-top: 30px;
  padding-right: 100px;
  padding-left: 100px;
  line-height: 1.5;
}
.post>img{
  margin-top: 10px;
  height: 50vh;
  max-width: 90vw;
  border-radius: 3%;
}
.post{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3%;
  background: #393e49;
}
#new_post{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
#text_post{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.comment{
  background: #282c34;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3cm;
}
.comments{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
}
.comment_label{
  font-size: 14px;
}
.delete{
  background: #2e323a;
  color: red;
  font-size: 20px;
  text-shadow: 0px 0px 0px white, 0px 0px 0px white, 0px -0px 0px white;
  border-style: solid;
  border-color: #1f2229;
  border-radius: 5px;

  justify-self: start;
  align-self: start;
}
.title_parent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#city_details{
  padding-top: 100px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
